
@keyframes get-shot{
	0%{
		width: 100%;
	}
	100%{
		width: 800px;
	}
}

.footer-main{
	height: 100px;
}

.padding-left{
	padding-left: 100px;
}

.container{
	background-color: #DBD0A8;
}
.shot{
	animation: get-shot;
	animation-duration: 1s;
	animation-timing-function: linear;
}
.article-title{
	text-align: center;
}
body{
}

.article{
	margin: 0 auto;
	height: 300px;
	background-color: rgba(225, 238, 210, 1);
}

.hidden{
	visibility: hidden;
}

.show{
	visibility: visible;
}


body{
	margin: 0;
}