
@keyframes get-shot{
	0%{
		width: 100%;
	}
	100%{
		width: 800px;
	}
}

@keyframes fade-in{
	0%{
		opacity: 0;
		top: 20px;
	}
	100%{
		opacity: 1;
		top: 0;
	}
}

.fade-in{
	animation: fade-in;
	animation-duration: 2s;
}

.footer-main{
	height: 100px;
}

.padding-left{
	padding-left: 100px;
}

.container{
	background-color: #DBD0A8;
}
.shot{
	animation: get-shot;
	animation-duration: 1s;
	animation-timing-function: linear;
}
.article-title{
	text-align: center;
}

.article{
	margin: 0 auto;
	height: 300px;
	background-color: rgba(225, 238, 210, 1);
}

.hidden{
	visibility: hidden;
}

.show{
	visibility: visible;
}

a {
	text-decoration: none;
	color: black;
}

body{
	margin: 0;
}